@import "tailwindcss";

:root {
  --primary: #0F4F3F;
  --primary-light: #2D8E73;
  --accent: #34d399;
}

body {
  @apply bg-white text-black antialiased overflow-x-hidden;
  font-feature-settings: "ss01", "ss02", "cv01", "cv03";
}

::selection {
  @apply bg-[#0F4F3F] text-white;
}

/* Custom Smooth Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #0F4F3F;
}